body {
 overflow-x: hidden;
 text-align: center;
}
header {
  font-family: 'Playfair Display', serif;
  min-height: 600px;
  min-width: 768px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .7), transparent), url('https://raw.githubusercontent.com/megazbik/Demo/img/welcomeslide.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
header a {
  text-decoration: none;
  padding-bottom: 5px;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav {
  font-family: 'Playfair Display', serif;
  padding: 15px 35px;
  display: flex;
  position: relative;
}
header nav h2 {
  margin-bottom: 0;
  flex: 1;
  letter-spacing: 2px;
}
header nav .nav-button {
  color: lightgray;
  font-size: 23px;
}
header nav div {
  background: rgba(0, 0, 0, .9);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.2s;
}
header nav div ul {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header nav div ul li {
  text-transform: uppercase;
}
header nav div ul li a {
  display: block;
  color: lightgray;
  padding: 15px 5px;
}
header .welcomeslide {
  line-height: 0;
  margin: auto;
  text-align: center;
  color: #fff;
}
header .welcomeslide h2 {
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-size: 55px;
}
body {
  font-family: 'Playfair Display', serif;
  line-height: 1;
  padding: 20px;
  height: 100%;
  background: #f9f9f9;
  color: #474747;
}
.city-title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
  color: #474747;
}
.cities-table {
  display: table;
  width: 100%;
}
.cities-table .cities-option {
  width: 28%;
  background: #fff;
  float: left;
  padding: 2%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cities-table .cities-option:nth-child(even) {
  margin: 0 2%;
}
.cities-table .cities-option:hover {
  cursor: pointer;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  transform: scale(1.04);
}
.cities-table .cities-option:hover i, .cities-table .cities-option:hover h1, .cities-table .cities-option:hover span, .cities-table .cities-option:hover b {
  color: #516579;
}
.cities-table .cities-option:hover .front {
  opacity: 0;
  visibility: hidden;
}
.cities-table .cities-option:hover .back {
  opacity: 1 !important;
  visibility: visible !important;
}
.cities-table .cities-option:hover .back a.button {
  transform: translateY(0px) !important;
}
.cities-table .cities-option hr {
  border: none;
  border-bottom: 1px solid #f0f0f0;
}
.cities-table .cities-option h1 {
  margin: 10px 0;
  color: #212121;
  transition: all 0.3s ease-in-out;
}
.cities-table .cities-option p {
  color: #8d8d8d;
  padding: 0 10px;
  line-height: 1.3;
}
.cities-table .cities-option .phonenumer {
  position: relative;
}
.cities-table .cities-option .phonenumer .front span.price {
  font-size: 20px;
  margin-top: 20px;
  display: block;
  font-weight: 700;
  position: relative;
}
.cities-table .cities-option .phonenumer .front span.price b {
  position: absolute;
  font-size: 1rem;
  margin-left: 2px;
  font-weight: 600;
}
.cities-table .cities-option .phonenumer .back {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.cities-table .cities-option .phonenumer .back a.button {
  background: #516579;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  position: absolute;
  font-size: 13px;
  top: -5px;
  left: 0;
  right: 0;
  width: 150px;
  margin: auto;
  text-transform: uppercase;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}
.cities-table .cities-option .phonenumer .back a.button:hover {
  background: #3d4c5a;
}
@media screen and (max-width: 600px) {
  .cities-table .cities-option {
    padding: 5%;
    width: 90%;
  }
  .cities-table .cities-option:nth-child(even) {
    margin: 30px 0 !important;
  }
}
.custom-font {
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 60px;
  line-height: 120%;
  padding-bottom: 20px;
}
.center-text {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
  color: #516579;
  line-height: 70%;
}
.center-text h2 {
  margin-top: 25px;
  line-height: 0;
}
.center-text p {
  margin-top: 0;
  line-height: 1.5;
}
.center-text a {
  color: #d4af37;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: solid 2px #d4af37;
}
.add-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #516579;
}
.custom-h1 {
  text-align: center;
  color: #fff;
  letter-spacing: normal;
  margin: auto;
  line-height: 120%;
}
.second-photo {
  background: url('https://raw.githubusercontent.com/megazbik/Demo/img/second.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 400px;
}
footer {
  margin: 0;
  position: relative;
  background: #141414;
  color: lightgray;
}
footer h5 {
  line-height: 1.5;
}
footer .info {
  padding: 35px 40px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .copyright {
  background: #232323;
  color: #969696;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .copyright span {
  border-bottom: solid 1px;
}@media screen and (max-width: 425px) {
  header {
    background-attachment: scroll;
      }
 
}
@media (min-width: 400px) {nav div {
    position: initial !important;
    background: none !important;
    opacity: initial !important;
    transform: initial !important;
  }  
  
  nav .nav-button {
    display: none;
  }

  nav div ul {
    position: initial !important;
    flex-direction: row !important;
  }
  nav div ul .exit-menu {
    display: none;
  }
  
}
  
 
  
@media (min-width: 1245px)
  { 
  footer .info {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
     
  footer .info {
    padding: 20px 80px;
    flex-direction: row;
    justify-content: space-around;
  }
  footer .info .locations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .info .locations h4 {
    flex: 1 0 100%;
    font-family: 'Raleway', sans-serif;
  }
  footer .info .locations h5 {
    flex: 1 0 100%;
    font-family: 'Raleway', sans-serif;
  }
  footer .info .hours {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .info .hours h4 {
    flex: 1 0 100%;
    font-family: 'Raleway', sans-serif;
  }
  footer .info .hours h5 {
    flex: 1 0 100%;
    font-family: 'Raleway', sans-serif;
  }
  footer .copyright {
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Playfair Display', serif;
  }
}
.phone {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.mail {
  width: 26px;
  height: 20px;
  margin-left: 10px;
}
.facebook {
  height: 20px;
  width: 20px;
}
@media only screen and (max-width: 750px) {
 input[type="checkbox"] {
  width: 3px;
   height: 4px}
  
@media only screen and (max-width: 750px) {
header
   {display: none
 }
  @media only screen and (max-width: 750px) {
.second-photo
   {display: none
 }
@media only screen and (max-width: 750px) {
 h2{display: none
 }
